# Admin Credentials for /admin CMS
ADMIN_EMAIL=admin@abhaykumar.dev
ADMIN_NAME="Abhay Kumar"
ADMIN_PASSWORD=Admin%40123456

# Client / Deployment URL
CLIENT_URL=http://localhost:3000

# JWT Authentication Secret
JWT_SECRET=super_secret_jwt_key_change_in_production

# MongoDB Atlas Connection String
# Password 'Admin%40123456' has '%' encoded as '%25' in connection URI
MONGODB_URI=mongodb+srv://aabhaykumar469_db_user:Admin%2540123456@cluster0.e3zzvn3.mongodb.net/abhay_portfolio?retryWrites=true&w=majority&appName=Cluster0